<div class="card-component">
  <div class="header">
    <div class="cover" {{#if image}}style="background-image:url('{{image}}');"{{/if}}>
    	<div class="actions"></div>
    </div>
  </div>

  <div class="body">
    <div class="title">
      <h1><a href="">{{title}}</a></h1>
      
    </div>
    <div class="summary">
      <p>{{description}}</p>
    </div>
    <div class="subscribers"></div>
    
    <div class="tags"></div>
  </div>
  
  <div class="footer">
      <span class="published-date">2 days ago</span>
  </div>
</div>
