<div class="card-component">
	{{#if image}}<img class="image" src="{{image}}">{{/if}}
	<div class="headings">
		<h2>{{title}}</h2>
		<h3>{{subtitle}}</h3>
	</div>

	<div class="tags"></div>

	<div class="subscribers"></div>

	<div class="actions"></div>

	<div class="footer">
		<p class="user">{{initiator}}</p>
	</div>
</div>