.icon-component-container
	width: 100%
	.icon-component
		.icon 
			cursor: pointer;
			padding: 10px;
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;
			outline: none;
			position: relative;