<div class="modal-component">
	<div class="close"></div>

	<div class="modal-title">
		<h1>{{title}}</h1>
	</div>

	<div class="modal-content">
		<p>{{content}}</p>
	</div>

	<div class="actions"></div>
</div>