@import '../../variables/loader';

.card-component-container
	border-radius: 5px;
	width: 100%
	.card-component
		width: 100%
		background-color: #fff;
		display: inline-block;
		box-shadow: 0 2px 6px rgba(0,0,0,.2)
		.image
			width: 100%
		.headings
			padding: 10px
			position: relative
			h2
				margin: 0;
				color: $primary-text-color
			h3
				color: $secondary-text-color
		.actions
			padding: 10px		
		.footer
			padding: 10px
			.user
				float: right
				color: $secondary-text-color
